<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Foods Cook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B54E4191F7C92E100108F3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B54E4311F7C92E100108F3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B54E43C1F7C92E100108F3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
